.indent-tree__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 30px;
}

.indent-tree__text {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 30px;
}



.indent-tree__img-info {
    width: 600px;
    height: 450px;
    margin-bottom: 30px;
}

.example {
    text-align: center;
}



.indent-tree__img-dom,
.indent-tree__img-group,
.indent-tree__img-code,
.indent-tree__img-section {
    margin-bottom: 30px;
}

.indent-tree__img-code {
    width: 964px;
    height: 164px;

}

.indent-tree__img-section {
    width: 1022px;
    
}